.nav {
    position: fixed;
    width: 100%;
    height: 6%;
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    /* margin: 0 10px; */
    width: 60px;
    height: auto;
    filter: invert(1);
}

.profile-logo {
    margin: 0 10px;
    width: 40px;
    height: auto;
}

.nav-items {
    padding: 0 ;
    gap: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    font-weight: 900;
}

.nav-items a {
    transition: 1s;
    font: 600;
    text-decoration: none;
}

.nav-items a:hover {
    transition: 1s;
    scale: 1.1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav {
        height: 8%; /* Adjusted height for smaller screens */
        padding: 0 10px; /* Adjusted padding for smaller screens */
    }

    .nav-items {
        display: none; /* Hide nav items on small screens */
    }

    .profile {
        display: none; /* Hide profile on small screens */
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    padding: 20px;
}

.footer-section h2 {
    font-size: 18px;
}

.footer-section p {
    font-size: 14px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.contact-form .text-input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.logout-button {
    background-color: red;
    color: white;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    margin: 10px;
}


.logout-form {
    padding: 0;
    margin: 0;
}
